<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Barbershop</title>

</head>
<body>

<div>
						<table class="table">
						  <thead>
						    <tr>
						      <th scope="col">We</th>
						      <th scope="col">are </th>
						      <th scope="col">open</th>
						      <th scope="col">at:</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <th scope="row">1</th>
						      <td>monday</td>
						      <td>tuesday</td>
						      <td>wensday</td>
						      <td>thursday</td>
						      <td>friday</td>
						      <td>saturday</td>
						      <td>sunday</td>
						    </tr>
						    <tr>
						    	<td>9:00-20:00</td>
						    	<td>9:00-20:00</td>
						    	<td>9:00-20:00</td>
						    	<td>9:00-20:00</td>
						    	<td>9:00-20:00</td>
						    	<td>9:00-20:00</td>
						    	<td>9:00-17:00</td>
						    	<td>output</td>


						    </tr>
						    
						  </tbody>
						</table>
				</div>
				<div>
				<a href="http/yandex.ru">Want do you want more?</a>
				</div>
	
</body>
</html>