<form action='/login/attempt' method='post' class="form-inline well">
  <input type="text" name='username'class="form-control" id="exampleInputEmail1" placeholder="username" autofocus>
  <br>
  <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" autofocus>
  <br>
  <input class="btn btn-primary" type='submit' value='log in'>
</form>

<footer>
    <addres> 
    California request for me  and me little pony    
    
    
    </addres>


</footer>
