<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Visit</title>

</head>
<body>
    <h4>Записаться</h4>
        <form action="/visit" class="form-horizontal" method="POST">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input name="client" type="text" class="form-control" id="inputEmail3" placeholder="Name">
    </div>
  </div>
  <br>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Phone namber</label>
    <div class="col-sm-10">
      <input name="phone" type="text" class="form-control" id="inputPassword3" placeholder="Phone">
    </div>
    <br>
    <label for="inputPassword3" class="col-sm-2 control-label">Date visit</label>
    <div class="col-sm-10">
      <input name="data_visit" type="text" class="form-control" id="inputPassword3" placeholder="Date">
    </div>
     <label for="inputPassword3" class="col-sm-2 control-label">Barbers</label>
  </div>
        <select name="barber" class="form-control">
            <option>Вася Пупкин</option>
            <option>Игорь Капуста</option>
            <option>Мила людмила</option>
            <option>Федор Пух</option>
            <option>Яна Трирубляинаша</option>
        </select>
  </div>
  <br>
  <div>
   <label for="inputPassword3" class="col-sm-2 control-label">Color</label>
      <select id="color" name="color">
              <option value="#7bd148">Green</option>
              <option value="#5484ed">Bold blue</option>
              <option value="#a4bdfc">Blue</option>
              <option value="#46d6db">Turquoise</option>
              <option value="#7ae7bf">Light green</option>
              <option value="#51b749">Bold green</option>
              <option value="#fbd75b">Yellow</option>
              <option value="#ffb878">Orange</option>
              <option value="#ff887c">Red</option>
              <option value="#dc2127">Bold red</option>
              <option value="#dbadff">Purple</option>
              <option value="#e1e1e1">Gray</option>
      </select>

  </div>
   <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Зaписаться</button>
    </div>
  </div>
</form>
	<script>
   $('select[name="colorpicker"]').simplecolorpicker('selectColor', '#7bd148');
  </script>
</body>
</html>